.main{
    .contain{
        .acc-head{
            h3{
                font-size: 30px;
                font-weight: 700;
                margin: 30px 0;
            }
        }
        
        .acc-form{
            padding: 20px;
            border-radius: 5px;
            border: 1px solid #d3ced2;
            margin-bottom: 50px;
       
            .user-input{
                label{
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 10px;
                    span{
                        color: red;
                    }
                }
                input {
                    background-color: #F0F2F5;
                    outline: none;
                    border-radius: 5px;
                    border: 1px solid #E6E6E6;
                    width: 100%;
                    padding: 0 20px;
                    font-size: 16px;
                    height: 50px;
                    
                    

                    
                }
                .input{
                    position: relative;
                    i{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 25px;
                        font-size: 20px;
                        &:hover{
                            cursor: pointer;
                        }
                        &.active{
                            opacity: 0.6;
                        }
                    }

                }
                margin-bottom: 15px;
            }
            span{
                input{
                    margin-right: 10px;
                }
                label{
                    color: #3858F6;
                    font-size: 18px;
                   
                    &:hover{
                        cursor: pointer;
                    }
                }
                &:hover{
                    cursor: pointer;
                }
            }
            button{
                color: white;
                    background-color: #3858F6;
                    padding: 10px 30px;
                    border-radius: 44px;
                    font-weight: 600;
                    font-size: 16px;
                    border: 2px solid #3858F6;
                    transition: 0.4s ease-in-out;
                    display: inline-block;
                    width: 100%;
                    margin: 10px 0;
                    &:hover {
                        background-color: transparent;
                        color: #3858F6;
                       

                    }
            }
            p{
                text-align: right;
                a{
                    text-decoration: underline;
                    color: black;
                    font-size: 18px;
                    &:hover{
                        color: #3858F6;
                    }
                }
            }
            
        }
    }
}