.up-arrow{
    a{
        position: fixed;
        bottom: 30px;
        right: 30px;
        padding: 15px 20px;
        font-size: 18px;
        color: white;
        border-radius: 50%;
        background-color: #3858F6;
        opacity: 0;
        transition: 0.3s ease-in-out;
        transform: translateY(10px);
    }
    
}
.main {
    .contain {
        .product {
            margin-bottom: 50px;

            .left {
                margin-bottom: 40px;
                .img-box {
                    position: relative;

                    img {
                        width: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    }

                    span {
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        padding: 3px 12px;
                        font-size: 14px;
                        font-weight: 500;
                        border-radius: 40px;
                        background-color: #D93E40;
                        color: white;
                    }
                }
            }

            .right {
                padding-left: 30px;

                h1 {
                    font-weight: 700;
                    font-size: 36px;
                    margin-bottom: 30px;
                }

                .price {
                    font-size: 20px;
                    margin-bottom: 30px;

                    span {
                        text-decoration: line-through;
                        color: #9798B5;
                        font-weight: 500;
                        margin-right: 5px;
                    }


                }

                .simple {
                    border-bottom: 1px solid #e7e7e7;
                    border-top: 1px solid #e7e7e7;
                    padding-top: 15px;
                    padding-bottom: 50px;
                    font-size: 18px;
                }

                .input {
                    padding: 15px 0;
                    border-bottom: 1px solid #e7e7e7;

                    input {
                        width: 55px;
                        height: 42px;
                        padding: 8px;
                        border: 1px solid #e7e7e7;
                        outline: none;

                        margin-right: 10px;


                    }

                    button {
                        color: white;
                        background-color: #3858F6;
                        padding: 0 30px;
                        border-radius: 44px;
                        font-weight: 700;
                        font-size: 16px;
                        border: 2px solid #3858F6;
                        transition: 0.4s ease-in-out;
                        display: inline-block;
                        height: 42px;
                        margin: 10px 0;

                        &:hover {
                            background-color: transparent;
                            color: #3858F6;


                        }
                    }
                }

                .title {
                    padding: 20px 0;

                    p {
                        font-size: 18px;
                        margin-bottom: 0px;


                    }
                }

            }
        }

        .features {
            padding: 30px;
            background-color: #FAFAFB;
            border-radius: 10px;
            margin-bottom: 50px;
            button {
                padding: 10px 20px;
                border: 1px solid #e7e7e7;
                background-color: white;
                font-size: 18px;
                font-weight: 700;
                color: #878787;
                border-radius: 6px;
                margin-right: 20px;
                outline: none;
                margin-bottom: 15px;
                &.active {
                    color: white;
                    background-color: #3858F6;
                    box-shadow: 0 5px 15px #3858f650;
                }
            }

            .panel {
                .alt {
                    display: none;
                    margin-top: 30px;

                    h1 {
                        font-size: 26px;
                        font-weight: 700;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 18px;
                        margin-bottom: 30px;
                    }

                    &.information {
                        table {
                            background-color: white;
                            width: 100%;

                            tr {
                                th {
                                    border: 1px solid #F6F5FA;
                                    width: 12%;
                                    text-align: center;
                                }

                                td {
                                    border: 1px solid #F6F5FA;
                                    font-style: italic;
                                    padding: 15px;
                                    font-size: 18px;
                                }
                            }

                        }
                    }
                    &.reviews{
                        .reviews-top{
                            h1{
                                margin-bottom: 30px;
                            }
                            p{
                                margin-bottom: 40px;
                            }
                        }
                        .reviews-bottom{
                            border-top: 1px solid #e7e7e7;
                            padding-top: 30px;
                            h1{
                                margin-bottom: 5px;
                            }
                            p{
                                font-size: 14px;
                                color: #65676B;
                            }
                            .rating{
                                h6{
                                    font-size: 18px;
                                    font-weight: 400;
                                    margin-bottom: 0;
                                }
                                i{
                                    color: #f7c51d;
                                    
                                }
                                margin-bottom: 20px;
                            }
                            form{
                                textarea{
                                    padding: 15px;
                                    resize: none;
                                    width: 100%;
                                    height: 160px;
                                    border-radius: 4px;
                                    border: 1px solid #F0F2F5;
                                    background-color: #F0F2F5;
                                    margin-bottom: 20px;
                                    outline: none;
                                    transition: 0.3s ease-in-out;
                                    &:focus{
                                        box-shadow: 0 0 0 0.2rem #007bff38;
                                        outline: none;
                                        border: 1px solid #3858F6;
                                        background-color: white;
                                    }
                                    // outline: 1px solid #3858F6;
                                }
                                .user{
                                    display: flex;
                                    justify-content: space-between;
                                    input{
                                        
                                        width: 49%;
                                        padding: 15px;
                                        transition: 0.3s ease-in-out;
                                    border-radius: 4px;
                                    border: 1px solid #F0F2F5;
                                    background-color: #F0F2F5;
                                    margin-bottom: 20px;
                                    outline: none;
                                    &:focus{
                                        
                                        outline: none;
                                        border: 1px solid #3858F6;
                                        background-color: white;
                                    }
                                    
                                }
                                }
                                #save{
                                    margin-right: 5px;
                                }
                                label{
                                    
                                    font-size: 12px;
                                    &:hover{
                                        cursor: pointer;
                                    }
                                }
                                a{
                                    color: white;
                        background-color: #3858F6;
                        padding: 10px 30px;
                        border-radius: 44px;
                        font-weight: 700;
                        font-size: 16px;
                        border: 2px solid #3858F6;
                        transition: 0.4s ease-in-out;
                        display: inline-block;
                        
                        margin: 20px 0;

                        &:hover {
                            background-color: transparent;
                            color: #3858F6;
                            transform: translateY(-5px);

                        }
                                }
                            }
                        }
                    }

                    &.active {
                        display: block;
                    }
                }
            }
        }

        .related, .left {
            .heading {
                h1 {
                    font-size: 36px;
                    font-family: 'Red Hat Display', sans-serif;
                    font-weight: 700;
                    margin-bottom: 30px;
                }
            }
            .boxes{
                .box{
                    width: 31%;
                    .img-box{
                        position: relative;
                        overflow: hidden;
                        border-radius: 10px;
                        margin-bottom: 20px;
                        img{
                            width: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                            
                            transition: 0.4s ease-in-out;
                        }
                        .sale{
                            position: absolute;
                            top: 20px;
                            left: 20px;
                            padding: 3px 12px;
                            font-size: 14px;
                            font-weight: 500;
                            border-radius: 40px;
                            background-color: #D93E40;
                            color: white;
                        }
                        a {
                            color: white;
                            background-color: #3858F6;
                            padding: 5px 40px;
                            border-radius: 44px;
                            font-weight: 700;
                            font-size: 12px;
                            border: 2px solid #3858F6;
                            transition: 0.4s ease-in-out;
                            text-align: center;
                            width: fit-content;
                            position: absolute;
                            bottom: 20px;
                            left: 50%;
                            transform: translateX(-50%);
                            opacity: 0;
                            visibility: hidden;
                            &:hover {
                                background-color: white;
                                color: #3858F6;
    
    
                            }
                        }
                    }
                    
                    
                    a{
                        color: #65676B;
                        font-weight: 700;
                        font-size: 20px;
                        margin-bottom: 5px;
                        display: inline-block;
                        transition: 0.4s ease-in-out;
                        &:hover{
                            color: #3858F6;
                        }
                    }
                    .price {
                        font-size: 16px;
                        margin-bottom: 30px;
    
                        span {
                            text-decoration: line-through;
                            color: #9798B5;
                            font-weight: 500;
                            margin-right: 5px;
                        }
    
    
                    }
                    &:hover{
                        .img-box{
                            img{
                                transform: scale(1.1);
                            }
                            a{
                                bottom: 40px;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}


@media (max-width:576px) {
    .main{
        .contain{
            .product{
                .right{
                    padding-left: 12px;
                    .simple{
                        font-size: 16px;
                        padding-bottom: 30px;
                    }
                }
            }
            .features{
                padding: 15px;
                button{
                    padding: 10px 12px;
                    font-size: 13px;
                    margin-right: 8px;
                }
                .panel{
                    .description{
                        p{
                            font-size: 16px;
                            margin-bottom: 20px;
                        }
                    }
                    div.information{
                        table{
                            tr{
                                td{
                                    font-size: 16px;
                                }
                            }
                            
                        }
                    }
                    .reviews{
                        .reviews-top{
                            p{
                                font-size: 16px;
                                margin-bottom: 20px !important;
                            }
                        }
                        .reviews-bottom{
                            form{
                                .user{
                                    flex-wrap: wrap;
                                    input{
                                        width: 100% !important;
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
            .related, .left{
                
                .heading{
                    h1{
                        font-size: 28px;
                    }
                }
                .boxes{
                    flex-wrap: wrap;
                    .box{
                        width: 48%;
                        .img-box{
                            a{
                                bottom: 0;

                            }
                        }
                        &:hover{
                            .img-box{
                                a{
                                    bottom: 15px;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
        
    }
    
}
@media (min-width:576px) and (max-width:768px) {
    .main{
        .contain{

            .product{
                .right{
                    padding-left: 12px;
                    .simple{
                        font-size: 16px;
                        padding-bottom: 30px;
                    }
                }
            }
            .features{
                padding: 20px;
                button{
                    padding: 10px 12px;
                    font-size: 13px;
                    margin-right: 15px;
                }
                .panel{
                    .description{
                        p{
                            font-size: 16px;
                            margin-bottom: 20px;
                        }
                    }
                    div.information{
                        table{
                            tr{
                                td{
                                    font-size: 16px;
                                }
                            }
                            
                        }
                    }
                    .reviews{
                        .reviews-top{
                            p{
                                font-size: 16px;
                                margin-bottom: 20px !important;
                            }
                        }
                    }
                }
            }
            .related, .left{
                
                .heading{
                    h1{
                        font-size: 28px;
                    }
                }
                .boxes{
                    flex-wrap: wrap;
                    .box{
                        width: 48%;
                        .img-box{
                            a{
                                bottom: 0;

                            }
                        }
                        &:hover{
                            .img-box{
                                a{
                                    bottom: 15px;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
        
    }
    
}

// @media (min-width:768px) and (max-width:992px) {
//     .page-heading{
//         .contain{
//             .row{
//                 .heading{
//                     h1{
//                         font-size: 38px;
//                     }
//                 }
//             }
//         }
//     }
    
// }
@media (min-width:1200px) {
    .main{
        .contain{
            .related, .left{
                .boxes{
                    .box{
                        .img-box{
                            a{
                                font-size: 14px;
                                padding: 10px 40px;
                            }
                        }
                    }
                }
            }
        }
    }    
}