.main {
    .contain {
        .left {

            .heading {

                padding-bottom: 15px;
                border-bottom: 1px solid #CED0D4;

                .tech {
                    overflow: hidden;
                    font-weight: 600;
                    font-size: 14px;

                    .tech-link {
                        text-decoration: none;
                            color: #D93E40;
                            position: relative;
                            display: inline-block;
                            height: 20px;

                            // transition: 0.4s ease-in-out;
                            .red {
                                transform: skewY(0);
                                display: inline-block;
                                top: 0;
                                left: 0;
                                position: absolute;
                                // transition: 0.3s ease-in-out;
                                transition: 1s cubic-bezier(0.19, 1, 0.22, 1);

                            }

                            .blue {
                                position: absolute;
                                top: 100%;
                                left: 0;
                                color: #3858F6;
                                opacity: 0;
                                transform: skewY(7deg);
                                display: inline-block;
                                // transition: 0.3s ease-in-out;
                                transition: 1s cubic-bezier(0.19, 1, 0.22, 1);

                            }

                            &:hover {
                                // transform: translateY(-100%);

                                .red {
                                    opacity: 0;
                                    transform: skewY(7deg);
                                    bottom: 100%;
                                }

                                .blue {
                                    top: 0;
                                    opacity: 1;
                                    transform: skewY(0);
                                }
                            }

                    }
                }

                .link-head {
                    font-size: 44px;
                    margin-top: 15px;
                    margin-bottom: 40px;
                    font-weight: 700;

                }

                .tech-bot {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;

                    .tech-left {
                        margin-bottom: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-start;

                        .left {
                            img {
                                border-radius: 50%;
                                object-fit: cover;
                                margin-right: 15px;
                            }
                        }

                        .right {
                            .axil {
                                overflow: hidden;
                                font-weight: 500;
                                font-size: 16px;

                                .axil-link {
                                    text-decoration: none;
                                    color: black;
                                    position: relative;
                                    display: block;
                                    transition: 0.4s ease-in-out;
                                    height: 30px;

                                    .black {
                                        position: absolute;
                                        top: 0;
                                        transform: skewY(0);
                                        transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
                                    }

                                    .blue {
                                        position: absolute;
                                        top: 100%;
                                        left: 0;
                                        color: #3858F6;
                                        opacity: 0;
                                        transform: skewY(7deg);
                                        transition: 1s cubic-bezier(0.19, 1, 0.22, 1);

                                    }

                                    &:hover {

                                        // transform: translateY(-100%);

                                        .black {
                                            opacity: 0;
                                            bottom: 100%;
                                            transform: skewY(7deg);
                                        }

                                        .blue {
                                            opacity: 1;
                                            top: 0;
                                            transform: skewY(0);
                                        }


                                    }



                                }

                            }

                            ul {
                                // margin-top: 5px !important;

                                li {
                                    margin-right: 10px;
                                    color: #65676B;
                                    font-size: 12px;

                                    &.separator {
                                        position: relative;

                                        &::before {
                                            content: "";
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            width: 6px;
                                            height: 6px;
                                            background-color: #878787;
                                            border-radius: 50%;
                                        }
                                    }
                                }
                            }
                        }

                    }

                    .tech-right {

                        a {
                            text-decoration: none;
                            color: #65676B;
                            margin-left: 15px;
                            font-size: 14px;
                            transition: 0.4s ease-in-out;

                            &:hover {
                                color: #3858F6;
                            }

                            &:first-of-type {
                                margin-left: 0;
                            }
                        }
                    }
                }



            }

            .categs {
                padding: 40px 0;

                ul {
                    li {
                        margin-right: 15px;
                        color: #65676B;
                        font-size: 16px;
                    }

                    a {
                        text-decoration: none;
                        color: black;
                        @include transition;

                        &:hover {
                            color: #3858F6;
                        }

                    }

                    .separator {
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 6px;
                            height: 6px;
                            background-color: #878787;
                            border-radius: 50%;
                        }
                    }
                }
            }

            .articles {
                .head-img {
                    img {
                        width: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                        // padding: 20px 0;
                        margin-top: 20px;
                        margin-bottom: 70px;
                    }

                    // margin-bottom: 40px;
                }

                section {
                    padding-right: 5px;

                    h5 {
                        margin-bottom: 30px;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 1.5;
                    }

                    p {
                        font-size: 18px;
                        margin-bottom: 40px;
                        font-weight: 400;
                        line-height: 1.67;
                    }

                    h1 {
                        font-size: 36px;
                        font-weight: 700;
                        margin-bottom: 20px;
                    }
                    a{
                        text-decoration: underline;
                        color: black;
                        font-weight: 500;
                        transition: 0.3s ease-in-out;
                        &:hover{
                            color: #3858F6;
                        }
                    }
                }

                figure {
                    margin-bottom: 30px;
                    img{
                        width: 100%;
                    }
                    figcaption {
                        text-align: center;
                        margin: 10px 0;
                    }
                }
            }

            .review {
                background-color: #F9F9F9;
                padding: 30px;
                border-radius: 10px;
                margin-bottom: 30px;

                .review-title {
                    position: relative;
                    margin-bottom: 20px;
                    padding-right: 10%;
                    .img {
                        max-width: 200px;
                        min-height: 200px;
                        height: 200px;
                        margin-right: 30px;
                        margin-bottom: 20px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }

                    .title {
                        width: 61%;

                        h2 {
                            font-size: 24px;
                            font-weight: 700;
                        }

                        p {
                            line-height: 27px;
                            font-size: 16px;
                        }
                    }

                    .rating {
                        justify-self: flex-end;
                        position: absolute;
                        top: 0%;
                        right: 0;
                        color: white;
                        background-color: #3858F6;
                        border-radius: 10px;
                        padding: 10px 15px;
                        text-align: center;
                        font-size: 29px;
                        font-weight: 500;
                    }
                }

                // p {
                //     margin-bottom: 30px;
                // }

                .feat {

                    h3 {
                        font-size: 18px;
                        font-weight: 700;
                        margin-bottom: 25px;
                    }

                    ul {
                        li {
                            font-size: 18px;
                            margin-bottom: 8px;

                            i {
                                margin-right: 15px;

                            }
                        }

                        &.pro {
                            i {
                                color: #3EB75E;

                            }
                        }

                        &.con {
                            i {

                                color: #FF0003;
                            }
                        }
                    }
                }
            }

            .beauty-form {
                padding: 35px 0;

                h3 {
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 14px;
                    color: #65676B;
                    margin-bottom: 20px;
                    // text-align: left;
                }

                label {
                    font-weight: 600;
                    font-size: 14px;
                    display: inline-block;
                    margin-bottom: 10px;
                }

                input, textarea {
                    background-color: #F0F2F5;
                    outline: none;
                    border-radius: 5px;
                    border: 1px solid #E6E6E6;

                    padding: 15px 20px;
                    font-size: 14px;

                    &:focus {
                        border: 1px solid #3858F6;
                    }
                }

                .inputs {
                    .input {
                        width: 30%;

                        input {
                            width: 90%;

                        }
                    }

                    margin-bottom: 30px;
                }

                .comment {
                    textarea {
                        width: 100%;
                        height: 160px;
                        vertical-align: text-top;
                        resize: none;

                    }

                    margin-bottom: 20px;
                }

                .checkbox {
                    margin-bottom: 10px;
                    display: inline-block;

                    input {
                        border: 1px solid #E6E6E6;
                        vertical-align: baseline;
                        margin-right: 5px;

                    }

                    label {
                        color: #878787;
                        font-size: 12px;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                button {

                    color: white;
                    background-color: #3858F6;
                    padding: 10px 30px;
                    border-radius: 44px;
                    font-weight: 600;
                    font-size: 16px;
                    border: 2px solid #3858F6;
                    transition: 0.4s ease-in-out;
                    display: inline-block;

                    &:hover {
                        background-color: transparent;
                        color: #3858F6;
                        transform: translateY(-10px);

                    }
                }
            }

        }
    }
}

.posts {


    background-color: #F0F2F5;
    padding: 70px 0;

    .contain {


        h1 {
            font-size: 36px;
            font-family: 'Red Hat Display', sans-serif;
            font-weight: 900;
            margin-bottom: 30px;
        }

        .box {
            margin-bottom: 30px;
            a {
                img {
                    border-radius: 10px;
                    margin-bottom: 20px;
                    width: 100%;
                }
            }

            .tech {
                overflow: hidden;
                font-weight: 600;
                font-size: 14px;

                .tech-link {
                    text-decoration: none;
                        color: #D93E40;
                        position: relative;
                        display: inline-block;
                        height: 20px;

                        // transition: 0.4s ease-in-out;
                        .red {
                            transform: skewY(0);
                            display: inline-block;
                            top: 0;
                            left: 0;
                            position: absolute;
                            // transition: 0.3s ease-in-out;
                            transition: 1s cubic-bezier(0.19, 1, 0.22, 1);

                        }

                        .blue {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            color: #3858F6;
                            opacity: 0;
                            transform: skewY(7deg);
                            display: inline-block;
                            // transition: 0.3s ease-in-out;
                            transition: 1s cubic-bezier(0.19, 1, 0.22, 1);

                        }

                        &:hover {
                            // transform: translateY(-100%);

                            .red {
                                opacity: 0;
                                transform: skewY(7deg);
                                bottom: 100%;
                            }

                            .blue {
                                top: 0;
                                opacity: 1;
                                transform: skewY(0);
                            }
                        }

                }
            }

            h3 {
                line-height: 0.8;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 18px;
                    font-weight: 700;
                    // line-height: 1;
                    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
                    background-repeat: no-repeat;
                    background-size: 0px 2px;
                    background-position: 0px 95%;
                    transition: 0.4s ease-in-out;

                }
            }

            &:hover {
                h3 {
                    a {

                        background-size: 100% 2px;
                    }
                }
            }

        }

    }


}
.instagram{
    &.beauty{
        background-color: #FBFBFD;
    }
}


@media(max-width:576px) {
    .main{
        .contain{
            .row{
                .left{
                    .link-head{
                        font-size: 23px;
                        margin-top: 5px;
                        margin-bottom: 15px;
                        
                    }
                    .tech-bot{
                        display: block;
                        margin-bottom: 20px;
                        .tech-left{
                            margin-bottom: 15px;
                        }
                    
                    }
                    .categs{
                        ul{
                            flex-wrap: wrap;
                            li{
                                margin-right: 10px;
                            }
                        }
                    }
                    .articles{
                        section{
                            h5{
                                font-size: 16px;
                            }
                            p{
                                font-size: 16px;
                                margin-bottom: 20px;
                            }
                            h1{
                                font-size: 28px;
                            }
                        }
                    }
                    .review{
                        .review-title{
                            display: block !important;
                            padding-right: 25%;
                            .img{
                                width: 100%;
                                max-width: 100%;
                                img{
                                    width: 100%;
                                    
                                }

                            }
                            .title{
                                width: 100%;
                            }
                        }
                    }
                    .beauty-form{
                        margin-bottom: 35px;
                        h3{
                            font-size: 24px;
                        }
                        .inputs{
                            
                            .input{
                                width: 100%;
                                margin-bottom: 15px;
                                input{
                                    width: auto;
                                }
                                br{
                                    display: none;
                                }
                            }
                            
                        }
                        .checkbox{
                            display: flex;
                        }
                    }
                }
            }
            
        }
    }
    .posts{
        padding: 60px 0;

        .contain{
        
            .heading{
                h1{
                    font-size: 28px;
                }
            }
        }
    }
}

@media(min-width:576px) and (max-width:768px) {
    .main{
        .contain{
            .row{
                .left{

                    .link-head{
                        font-size: 25px;
                        margin-top: 5px;
                        margin-bottom: 20px;
                    }
                    .categs{
                        ul{
                            li{
                                margin-right: 10px;
                            }
                        }
                    }
                    .articles{
                        section{
                            h5{
                                font-size: 16px;
                            }
                            p{
                                font-size: 16px;
                                margin-bottom: 20px;
                            }
                            h1{
                                font-size: 28px;
                            }
                        }
                    }
                    .review{
                        .review-title{
                            display: block !important;
                            padding-right: 20%;
                            .img{
                                width: 100%;
                                max-width: 100%;
                                img{
                                    width: 100%;
                                    
                                }

                            }
                            .title{
                                width: 100%;
                            }
                        }
                    }
                    .beauty-form{
                        margin-bottom: 35px;
                        h3{
                            font-size: 24px;
                        }
                        .inputs{
                            
                            .input{
                                width: 100%;
                                margin-bottom: 15px;
                                input{
                                    width: 40%;
                                }
                                br{
                                    display: none;
                                }
                            }
                            
                        }
                    }
                }
            }
            
        }
    }
    .posts{
        padding: 60px 0;

        .contain{
            .heading{
                h1{
                    font-size: 28px;
                }
            }
        }
    }
}

@media(min-width:768px) and (max-width:992px) {
    .main{
        .contain{
            .row{
                .left{
                    .link-head{
                        font-size: 38px;
                        margin-top: 5px;
                        margin-bottom: 25px;
                    }
                    .review{
                        .review-title{
                            .title{
                                width: 55%;
                            }
                        }
                    }
                    .beauty-form{
                        padding: 0;
                        margin-bottom: 70px;
                        h3{
                            font-size: 28px;
                        }
                        .inputs{
                            display: flex;
                        }
                    }
                }
            }
            
        }

    }
    .posts{
        .contain{
            .heading{
                h1{
                    font-size: 32px;
                }
            }
        }
    }
}

@media(min-width:992px) and (max-width:1200px) {
    .main{
        .contain{
            .left{
                .beauty-form{
                    .inputs{
                        display: flex;
                        
                    }
                }
            }
        }
    }

}

@media(min-width:1200px) {
    .main{
        .contain{
            .left{
                .beauty-form{
                    .inputs{
                        display: flex;
                        
                    }
                }
            }
        }
    }
}