* {
    .contain {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: auto;
    }
}

.page-heading {
    background-color: #F0F2F5;
    @include padding;

    .contain {
        // width: 92%;
        // margin: auto;

        .heading {
            li {
                margin-right: 15px;
                color: #65676B;
                font-size: 16px;
                margin-bottom: 10px;
            }

            a {
                text-decoration: none;
                color: black;
                @include transition;

                &:hover {
                    color: #3858F6;
                }

            }

            .separator {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 6px;
                    height: 6px;
                    background-color: #878787;
                    border-radius: 50%;
                }
            }

            h1 {
                font-weight: 700;

                font-size: 44px;
                margin-top: 10px;

            }
        }
    }

}

.main {
    .contain {
        // width: 92%;
        // margin: auto;
        padding: 70px 15px;

        .left {
            .mycard {
                margin-bottom: 25px;

                .left {
                    margin-right: 20px;
                    min-width: 295px;
                    max-width: 295px;
                    height: 292px;

                    .img-box {
                        overflow: hidden;
                        border-radius: 15px;
                        height: 100%;
                        width: 100%;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            transition: 0.4s ease-in-out;

                        }
                    }


                }


                .right {
                    padding: 30px;
                    border: 1px solid #F0F2F5;
                    border-radius: 10px;

                    .tech {
                        overflow: hidden;
                        font-weight: 600;
                        font-size: 14px;

                        .tech-link {
                            text-decoration: none;
                            color: #D93E40;
                            position: relative;
                            display: inline-block;
                            height: 20px;

                            // transition: 0.4s ease-in-out;
                            .red {
                                transform: skewY(0);
                                display: inline-block;
                                top: 0;
                                left: 0;
                                position: absolute;
                                // transition: 0.3s ease-in-out;
                                transition: 1s cubic-bezier(0.19, 1, 0.22, 1);

                            }

                            .blue {
                                position: absolute;
                                top: 100%;
                                left: 0;
                                color: #3858F6;
                                opacity: 0;
                                transform: skewY(7deg);
                                display: inline-block;
                                // transition: 0.3s ease-in-out;
                                transition: 1s cubic-bezier(0.19, 1, 0.22, 1);

                            }

                            &:hover {
                                // transform: translateY(-100%);

                                .red {
                                    opacity: 0;
                                    transform: skewY(7deg);
                                    bottom: 100%;
                                }

                                .blue {
                                    top: 0;
                                    opacity: 1;
                                    transform: skewY(0);
                                }
                            }

                        }
                    }

                    .link-head {
                        width: 98%;
                        line-height: 0.9;
                        margin-top: 15px;
                        margin-bottom: 40px;

                        a {
                            text-decoration: none;
                            color: black;
                            font-size: 24px;
                            font-weight: 700;
                            background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
                            background-repeat: no-repeat;
                            background-size: 0px 2px;
                            background-position: 0px 95%;
                            transition: 0.4s ease-in-out;


                        }

                    }

                    .tech-bot {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;

                        .tech-left {
                            margin-bottom: 10px;

                            .axil {
                                overflow: hidden;
                                font-weight: 500;
                                font-size: 16px;

                                .axil-link {
                                    text-decoration: none;
                                    color: black;
                                    position: relative;
                                    display: block;
                                    transition: 0.4s ease-in-out;
                                    height: 30px;

                                    .black {
                                        position: absolute;
                                        top: 0;
                                        transform: skewY(0);
                                        transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
                                    }

                                    .blue {
                                        position: absolute;
                                        top: 100%;
                                        left: 0;
                                        color: #3858F6;
                                        opacity: 0;
                                        transform: skewY(7deg);
                                        transition: 1s cubic-bezier(0.19, 1, 0.22, 1);

                                    }

                                    &:hover {

                                        // transform: translateY(-100%);

                                        .black {
                                            opacity: 0;
                                            bottom: 100%;
                                            transform: skewY(7deg);
                                        }

                                        .blue {
                                            opacity: 1;
                                            top: 0;
                                            transform: skewY(0);
                                        }


                                    }



                                }

                            }

                            ul {
                                margin-top: 5px !important;

                                li {
                                    margin-right: 10px;
                                    color: #65676B;
                                    font-size: 12px;

                                    &.separator {
                                        position: relative;

                                        &::before {
                                            content: "";
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            width: 6px;
                                            height: 6px;
                                            background-color: #878787;
                                            border-radius: 50%;
                                        }
                                    }
                                }
                            }
                        }

                        .tech-right {

                            a {
                                text-decoration: none;
                                color: #65676B;
                                margin-left: 15px;
                                font-size: 14px;
                                transition: 0.4s ease-in-out;

                                &:hover {
                                    color: #3858F6;
                                }

                                &:first-of-type {
                                    margin-left: 0;
                                }
                            }
                        }
                    }



                }

                &:hover {
                    .img-box {
                        img {
                            transform: scale(1.1)
                        }
                    }

                    .right {
                        box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);

                        .link-head {
                            a {

                                background-size: 100% 2px;

                            }
                        }
                    }
                }



            }

            .shop-img {
                margin-bottom: 30px;

                img {
                    width: 100%;
                }
            }
        }

        .right {
            .categories {
                margin-bottom: 20px;

                .category {
                    text-decoration: none;
                    display: block;
                    background-color: #FBFBFD;
                    border-radius: 10px;
                    color: black;
                    padding: 15px 5px;
                    margin-bottom: 15px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        margin-right: 10px;
                        object-fit: cover;
                    }

                    span {
                        font-size: 18px;
                        font-weight: 700;
                        color: #65676B;
                        transition: 0.4s ease-in-out;
                        word-break: break-word;
                    }

                    &:hover {
                        span {
                            color: #3858F6;
                        }
                    }
                }
            }

            .search {
                padding: 30px;
                background-color: #FBFBFD;
                border-radius: 10px;
                text-align: center;
                margin-bottom: 30px;

                h5 {
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                hr {
                    margin: 5px 0;
                    border: none;
                    height: 0.5px;
                }

                .search-part {
                    border-radius: 44px;
                    // padding: 0 30px;
                    background-color: #F0F2F5;
                    margin-top: 20px;
                    position: relative;

                    i {
                        color: #65676B;
                        font-size: 14px;
                        font-weight: 400;
                        position: absolute;
                        top: 50%;
                        left: 20px;
                        transform: translateY(-50%);

                    }

                    input {
                        width: 100%;
                        outline: none;
                        border: 1px solid transparent;
                        background-color: transparent;
                        padding: 10px 50px;
                        font-size: 14px;
                        border-radius: 44px;

                        &:focus {
                            border: 1px solid #3858F6;
                        }
                    }

                }
            }

            .recent {
                padding: 30px;
                background-color: #FBFBFD;
                border-radius: 10px;
                text-align: center;
                margin-bottom: 30px;

                h5 {
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                hr {
                    margin-bottom: 20px;
                    margin-top: 5px;
                    border: none;
                    height: 0.5px;
                }

                .post {
                    margin-bottom: 20px;

                    .img-box {
                        width: 100px;
                        min-width: 100px;
                        border-radius: 10px;
                        overflow: hidden;
                        margin-right: 20px;
                        height: 100px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: 0.4s ease-in-out;
                        }
                    }

                    .text-box {
                        text-align: left;

                        h6 {
                            line-height: 1.25;
                            margin-bottom: 15px;

                            a {
                                text-decoration: none;
                                color: black;
                                font-size: 16px;
                                font-weight: 600;
                                background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
                                background-repeat: no-repeat;
                                background-size: 0px 2px;
                                background-position: 0px 100%;
                                transition: 0.4s ease-in-out;


                            }
                        }

                        ul {

                            flex-wrap: wrap;



                            li {
                                margin-right: 10px;
                                color: #65676B;
                                font-size: 12px;
                                margin-bottom: 10px;

                                &.separator {
                                    position: relative;

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        width: 6px;
                                        height: 6px;
                                        background-color: #878787;
                                        border-radius: 50%;
                                    }
                                }
                            }

                        }


                    }

                    &:hover {
                        .img-box {
                            img {
                                transform: scale(1.1)
                            }
                        }

                        .text-box {
                            h6 {
                                a {
                                    background-size: 100% 2px;
                                }
                            }
                        }
                    }
                }

            }

            .subscribe {
                padding: 30px 70px;
                background-color: #FBFBFD;
                border-radius: 10px;
                text-align: center;
                margin-bottom: 30px;

                h4 {
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 35px;
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 30px;
                }

                input {
                    width: 85%;
                    margin: auto;
                    outline: none;
                    border: 1px solid transparent;
                    background-color: #F0F2F5;
                    padding: 10px 25px;
                    font-size: 14px;
                    border-radius: 44px;
                    margin-bottom: 20px;

                    &:focus {
                        border: 1px solid #3858F6;
                    }
                }

                a {
                    text-decoration: none;
                    color: white;
                    background-color: #3858F6;
                    padding: 8px 30px;
                    border-radius: 44px;
                    font-weight: 600;
                    font-size: 16px;
                    border: 2px solid #3858F6;
                    transition: 0.4s ease-in-out;
                    display: inline-block;

                    &:hover {
                        background-color: transparent;
                        color: #3858F6;
                        transform: translateY(-10px);

                    }
                }
            }

            .stay {
                padding: 30px;
                background-color: #FBFBFD;
                border-radius: 10px;
                text-align: center;
                margin-bottom: 30px;

                h5 {
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                hr {
                    margin-bottom: 20px;
                    margin-top: 5px;
                    border: none;
                    height: 0.5px;
                }

                .icons {
                    a {
                        text-decoration: none;
                        color: #65676B;
                        margin: 0 5px;
                        transition: 0.4s ease-in-out;
                        background-color: #F0F2F5;
                        border-radius: 50%;

                        i {
                            padding: 12px;

                            font-size: 14px;

                            // transition: 0.4s ease-in-out;
                            &.face {
                                padding: 12px 15px;
                            }
                        }

                        &:hover {
                            color: white;

                            background-color: #3858F6;

                        }
                    }
                }
            }

            .gallery {
                padding: 30px;
                background-color: #FBFBFD;
                border-radius: 10px;
                text-align: center;
                margin-bottom: 30px;

                h5 {
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                hr {
                    margin-bottom: 20px;
                    margin-top: 5px;
                    border: none;
                    height: 0.5px;
                }

                .gall {
                    .img {
                        margin-bottom: 10px;
                        padding: 0 10px !important;

                        img {
                            width: 100%;
                            // object-fit: cover;
                            border-radius: 10px;

                        }
                    }
                }
            }

            .videos {
                padding: 30px;
                background-color: #FBFBFD;
                border-radius: 10px;

                margin-bottom: 30px;

                h5 {
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 5px;
                    text-align: center;
                }

                hr {
                    margin-bottom: 20px;
                    margin-top: 5px;
                    border: none;
                    height: 0.5px;
                }

                .video-box {
                    .video {
                        margin-bottom: 15px;

                        a {
                            text-decoration: none;

                            .img-box {
                                border-radius: 10px;
                                overflow: hidden;
                                position: relative;
                                margin-bottom: 12px;

                                img {
                                    width: 100%;
                                    object-fit: cover;
                                    transition: 0.4s ease-in-out;
                                }

                                i {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    padding: 20px;
                                    background-color: white;
                                    border-radius: 50%;
                                    color: #D93E40;
                                    font-size: 12px;
                                    transition: 0.4s ease-in-out;

                                    &:hover {
                                        padding: 23px;
                                    }
                                }

                            }

                            h6 {
                                text-align: left;
                                display: inline-block;
                                color: black;
                                font-weight: 500;
                                background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
                                background-repeat: no-repeat;
                                background-size: 0px 2px;
                                background-position: 0px 95%;
                                transition: 0.4s ease-in-out;
                                padding: 3px 0;
                            }
                        }

                        &:hover {
                            .img-box {
                                img {
                                    transform: scale(1.1);
                                }
                            }

                            h6 {
                                background-size: 100% 2px;
                            }
                        }

                        &.video3 {
                            margin-bottom: 0;
                        }

                    }
                }
            }

            .tags {
                padding: 30px;
                background-color: #FBFBFD;
                border-radius: 10px;
                text-align: center;
                margin-bottom: 30px;

                h5 {
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                hr {
                    margin-bottom: 20px;
                    margin-top: 5px;
                    border: none;
                    height: 0.5px;
                }

                .tag-box {
                    display: flex;
                    flex-wrap: wrap;

                    a {
                        text-decoration: none;
                        color: #65676B;
                        padding: 5px 10px;
                        border: 1px solid #CED0D4;
                        border-radius: 3px;
                        font-size: 12px;
                        margin-right: 15px;
                        margin-bottom: 10px;
                        display: inline-block;
                        transition: 0.4s ease-in-out;

                        &:hover {
                            color: white;
                            background-color: #3858F6;
                            border: 1px solid #3858F6;
                        }
                    }
                }
            }

            .shop {
                padding: 30px;
                background-color: #FBFBFD;
                border-radius: 10px;

                img {
                    width: 100%;

                }
            }

        }

    }
}

.instagram {
    @include padding;
    background-color: #F0F2F5;

    // .contain {
    //     @include contain;
    // }

    .heading {
        h1 {
            @include heading;
            margin-bottom: 35px;
        }
    }

    .bottom {
        .box{
            margin-bottom: 20px;
            .img-box {
                position: relative;
    
                img {
                    width: 100%;
                    vertical-align: middle;
                    border-radius: 15px;
                    object-fit: cover;
                }
    
                .icon-box {
                    background-color: rgba(255, 255, 255, 0.2);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0%;
                    left: 0%;
                    border-radius: 15px;
                    opacity: 0;
                    transition: 0.3s ease-in-out;
    
                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        padding: 12px;
                        border-radius: 50%;
                        background-color: white;
                        color: black;
                    }
                }
    
                &:hover {
                    .icon-box {
                        opacity: 1;
                    }
                }
            }
        }
        
    }
}



@media(max-width:576px) {
    .page-heading {
        .contain {
            .heading {
                ul{
                    flex-wrap: wrap;
                    li{
                        margin-right: 8px;
                    }
                }
                h1 {
                    font-size: 34px;
                }
            }
        }

    }

    .main {
        .contain {
            .row {
                .left {
                    .mycard {
                        .d-flex {
                            flex-wrap: wrap;

                            .left {
                                width: 100%;
                                min-width: 100%;
                                height: 190px;

                                .img-box {

                                    border-bottom-left-radius: 0;
                                    border-bottom-right-radius: 0;

                                }
                            }

                            .right {
                                width: 100%;
                                border-top-left-radius: 0;
                                border-top-right-radius: 0;
                                padding: 30px 20px;

                                .link-head {
                                    width: 100%;
                                    margin-bottom: 15px;

                                    a {
                                        font-size: 20px;
                                    }

                                }

                                .tech-bot {
                                    .tech-left {
                                        width: 100%;
                                        margin-bottom: 20px;
                                    }

                                    .tech-right {
                                        width: 100%;

                                    }
                                }
                            }
                        }

                    }
                    .shop-head{
                        p{
                            font-size: 16px;
                            margin: 10px 0 !important;
                        }
                    }
                }

                .right {
                    .categories {
                        .category {
                            span {
                                font-size: 16px;
                            }
                        }
                    }

                    .search {
                        padding: 20px;

                        h5 {
                            font-size: 16px;
                        }
                    }

                    .recent {
                        padding: 20px;
                        h5 {
                            font-size: 16px;
                        }
                    }
                    .stay, .gallery, .videos, .tags, .shop, .filter, .products, .product-categs{
                        padding: 20px !important;
                        h5{
                            font-size: 16px !important;
                        }
                    }
                    .subscribe{
                        padding: 20px 50px;
                        h4{
                            font-size: 20px;
                        }
                    }
                    .shop{
                        img{
                            max-width: 380px;
                            width: 100%;
                        }
                    }
                }
                
            }
            .acc-head{
                h3{
                    font-size: 24px !important;
                }
            }
            .acc-form{
                h3{
                    font-size: 24px !important;
                }
                label{
                    font-size: 16px !important;
                }
            p{
                a{
                    font-size: 16px !important;

                }

            }
        }
        }
    }
    .instagram{
        .contain{
            .heading{
                h1{
                    font-size: 28px;
                }
            }
            .bottom{
                .box{
                    width: 50%;
                }
            }
        }
    }
}

@media(min-width:576px) and (max-width:768px) {
    * {
        .contain {
            max-width: 540px;
        }
    }

    .page-heading {
        .contain {
            .heading {
                ul{
                    li{
                        margin-right: 8px;
                    }
                }
                h1 {
                    font-size: 34px;
                }
            }
        }

    }

    .main {
        .contain {
            .left {
                .mycard {
                    .left {
                        width: 25%;
                        min-width: 10px;
                        height: 228px;
                    }

                    .right {
                        width: 70%;
                        padding: 30px 20px;

                        .link-head {
                            margin-bottom: 15px;
                            width: 100%;

                            a {
                                font-size: 20px;
                            }
                        }
                    }
                }
                .shop-head{
                    p{
                        font-size: 16px !important;
                       
                    }
                }
            }

            .right {
                .categories {
                    .category {
                        span {
                            font-size: 16px;
                        }
                    }
                }

                .search {
                    padding: 20px;

                    h5 {
                        font-size: 16px;
                    }
                }

                .recent {
                    padding: 20px;
                    h5 {
                        font-size: 16px;
                    }
                }
                .stay, .gallery, .videos, .tags, .shop, .filter, .products, .product-categs{
                    padding: 20px !important;
                    h5{
                        font-size: 16px !important;
                    }
                }
                .subscribe{
                    padding: 20px 125px;
                    h4{
                        font-size: 20px;
                    }
                }
                .shop{
                    img{
                        max-width: 80%;
                    }
                }

            }
            .acc-head{
                h3{
                    font-size: 24px !important;
                }
            }
            .acc-form{
                
                    label{
                        font-size: 16px !important;
                    }
                p{
                    a{
                        font-size: 16px !important;

                    }

                }
            }
        }
    }
    .instagram{
        .contain{
            .heading{
                h1{
                    font-size: 28px;
                }
            }
        }
    }
}

@media(min-width:768px) and (max-width:992px) {
    * {
        .contain {
            max-width: 720px;
        }
    }

    .page-heading {
        .contain {
            .heading {
                h1 {
                    font-size: 38px;
                }
            }
        }

    }

    .main {
        .contain {
            .row {
                .left {
                    .mycard {
                        &:nth-of-type(3) {
                            .left {
                                height: 298px;
                            }
                        }

                        .right {
                            .link-head {
                                margin-bottom: 50px;
                            }

                            padding-bottom: 10px;
                        }
                    }
                }
                .right{
                    .subscribe{
                        padding: 30px 215px;
                    }
                    .shop{
                        img{
                            max-width: 60%;
                        }
                    }
                }

            }
            .acc-head{
                h3{
                    font-size: 28px !important;
                }
            }
        }
    }
    .instagram{
        .contain{
            .heading{
                h1{
                    font-size: 32px;
                }
            }
        }
    }
}

@media(min-width:992px) and (max-width:1200px) {

    * {
        .contain {
            max-width: 960px;
        }
    }

    .main {
        .contain {
            .row {
                .left {
                    .mycard {
                        .left {
                            min-width: 290px;
                            max-width: 290px;
                            height: 292px;
                        }

                        .right {
                            .link-head {
                                margin-bottom: 20px;
                            }

                        }
                    }
                }

                .right {
                    .recent {
                        .img-box {
                            width: 75px;
                            min-width: 75px;
                            height: 75px;
                            margin-right: 10px;
                        }

                    }
                    .subscribe{
                        padding: 30px 35px;
                    }
                }

            }
        }
    }

}

@media(min-width:1200px) {
    * {
        .contain {
            max-width: 1260px;
        }
    }
}

@media(max-width:480px){
    .instagram{
        .contain{
            .bottom{
                .box{
                    width: 100%;
                }
            }
        }
    }
}